@font-face {
    font-family: 'CyrodiilBoldItalic-DR3d';
    src: url("/fonts/CyrodiilBoldItalic-DR3d.ttf") format("truetype");
}

@font-face {
    font-family: 'CyrodiilBold-pepR';
    src: url("/fonts/CyrodiilBold-pepR.ttf") format("truetype");
}

@font-face {
    font-family: 'CyrodiilItalic-Al5x';
    src: url("/fonts/CyrodiilItalic-Al5x.ttf") format("truetype");
}

@font-face {
    font-family: 'Cyrodiil-xJ48';
    src: url("/fonts/Cyrodiil-xJ48.ttf") format("truetype");
}